<div class="categories">
  <h2 class="categories-title">Clasificación de estaciones pequeñas</h2>
  <div class="categories-list">
    <%- list_categories(site.categories, {
      class: 'categories'
    }) %>
  </div>
</div>
